$button-bg-color: #1c1c1c;
$button-text-color: #ffffff;
$card-width: 180px;

.film-card-item {
    width: $card-width;
    display: flex;
    flex-direction: column;
    animation: fade-in 0.4s ease forwards;
    &:hover {
        .card-body {
            margin-top: -82px;
            .show-more-button {
                display: block;
            }
        }
    }

    :global {
        .ant-image {
            position: relative;
            height: 254px;
            z-index: 1;
        }
    }

    :global {
        .ant-rate {
            font-size: 12px;
        }

        .ant-rate .ant-rate-star:not(:last-child) {
            margin-inline-end: 1px;
        }
    }

    .card-body {
        position: relative;
        margin-top: -44px;
        padding: 12px ;
        background-color: #ffffff;
        box-shadow: 0 -0.5px 2px rgba(0, 0, 0, 0.05);
        border-radius: 16px 16px 8px 8px;
        z-index: 2;

        .card-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 12px;
            word-break: all;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title-small {
            font-size: 14px;
        }

        .card-subtitle {
            font-size: 14px;
            color: $text-color-secondary;
            line-height: 1.3;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .attrs-group {
            font-size: 12px;
            line-height: 1.5;
        }

        .label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .show-more-button {
            width: 100%;
            height: 28px;
            font-size: 12px;
            border: none;
            margin-top: 8px;
            background-color: $highlight-color;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
            display: none;


            &:hover {
                background-color: var(--ant-color-fill-tertiary);
            }
        }

        .button-icon {
            width: 13px;
            height: 13px;
            margin-top: 2px;
        }

        .visible {
            display: inline-block;
        }
    }

    .attr-icon {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
